:root {
  --body-color: #272044;
  --link-text-decor: none;
}

.top-navbar,
.about-content,
.bottom-bar {
  color: var(--body-color);
}

.color-navcontent {
  color: var(--body-color);
}

.illustrations-src {
  text-decoration: var(--link-text-decor);
  color: var(--body-color);
  transition: all 200ms ease-in-out;
}

.illustrations-src:hover {
  text-decoration: underline;
  color: var(--body-color);
}
