:root {
  --body-color: #272044;
  --border-color: #6c63ff;
  --link-text-decor: none;
}

.top-navbar,
.homepage-content,
.about-content .bottom-bar {
  color: var(--body-color);
}

.color-navcontent {
  color: var(--body-color);
}

.project-launch,
.illustrations-src,
.view-projects {
  text-decoration: var(--link-text-decor);
  color: var(--body-color);
  transition: all 200ms ease-in-out;
}

.project-launch,
.view-projects {
  border: 1px solid var(--border-color);
  border-radius: 30px;
  padding: 12px 24px;
  background-color: var(--border-color);
  color: #fff;
}

.project-launch:hover,
.view-projects:hover {
  box-shadow: 1px 4px 56px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
}

.illustrations-src:hover {
  text-decoration: underline;
  color: var(--body-color);
}

.font-opensans {
  font-family: "Open Sans", sans-serif;
}

.font-cutive-mono {
  font-family: "Cutive Mono", monospace;
}

.font-dansingscript {
  font-family: "Dancing Script", cursive;
}

.fontsize-16 {
  font-size: 16px;
}
.fontsize-18 {
  font-size: 18px;
}
.fontsize-20 {
  font-size: 20px;
}
.fontsize-24 {
  font-size: 24px;
}
.fontsize-26 {
  font-size: 26px;
}
.fontsize-28 {
  font-size: 28px;
}
.fontsize-30 {
  font-size: 30px;
}
.fontsize-40 {
  font-size: 40px;
}
.fontsize-50 {
  font-size: 50px;
}
.fontweight-300 {
  font-weight: 300;
}
.fontweight-400 {
  font-weight: 400;
}
.fonteight-500 {
  font-family: 500;
}

.opacity-8 {
  opacity: 0.8;
}

.opacity-9 {
  opacity: 0.9;
}

.text-justify {
  text-align: justify;
}

.github-link,
.linkedin-link {
  color: var(--body-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.linkedin-link:hover,
.github-link:hover {
  opacity: 1;
  color: var(--body-color);
  text-decoration: underline;
}
